{% extends 'base.html' %}

{% block title %}
<h1>Течение Куэтта<h2>
{% endblock %}

{% block body %}
<h1>А здесь я расскажу про наш проект. Вместе с Сашей и Настей мы изучаем течение Куэтта-Тейлора, это течение вязкой жидкости между двумя соосными цилиндрами, вращающимися с 
разными скоростями. От скорости вращения цилиндров зависит будет ли течение турбулентным или ламинарным. Мы уже собрали установку, внешний цилиндр - стеклянный,
внутренний - пластиковый, он вращается благодаря шаговому двигателю, который, в свою очередь, подключён к компьюьтеру, таким образом, создав программу, можно управлять движением
цилиндром. Для опытов мы купили целых 3 литра глицерира, чтобы точно хватило. Также мы планируем достать пищевые блёстки, чтобы течение стало более визуально заметным.</h1>
<img src="static\2.jpg">
{% endblock %}
